@tailwind base;
@tailwind components;
@tailwind utilities;

/* 中文字體 */
@font-face{
  font-family: custom-pixel;
  src: url(./assets/font/GenSekiGothic-L.ttc);
  unicode-range: U+4E00-9FFF;
}
/* 英文字體 */
@font-face{
  font-family: custom-pixel;
  src: url(./assets/font/Barlow-Bold.ttf);
  unicode-range: U+00-024F;
}
body {
  font-family: custom-pixel;
}
